@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --background-color: #0a192f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  background-color: var(--background-color);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #0a192fbb;
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 1px -2px black;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
}

header.hidden {
  top: -50px;
}

p,
a {
  font-size: 0.8rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;

  img {
    width: 34px;
    height: auto;
    filter: invert(1);
  }  

  ul {
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
  }
}

#inicio,
#inicioWrapper, #sobreWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#inicio {
  height: 100vh;
  padding-top: 60px;
}

#inicioWrapper {
  width: 70vw;

  div {
    padding: 10px;
  }

  p,
  h1 {
    padding: 5px;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
  }
}

/* Sobre */


#sobreIcons {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

    img {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}

#sobreWrapper {
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
}
